body{
    background-color: black;
}
.main{
    width: 100px;
    height: 100px;
    background: #ffff;
    display: flex;
    justify-content: center;
    align-items: center;
}
    

.object{
    
    width: 95px;
    height: 95px;
    background: linear-gradient(to top left, #fff 0%, #fff 50%, rgb(107, 180, 35) 50%, chartreuse 100%);
    border-left: 1px solid rgb(80, 75, 75);
    border-top: 1px solid rgb(80, 75, 75);
    
 
}

.object p{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: small;
    color: #fff;
    font-style: oblique;
    margin-left: 10px;

}